<div>
  <section class="top-container">
    <header>
      <h3>Main Annocements</h3>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat corporis perferendis quis totam natus, dicta soluta ut minima in sunt voluptates magnam fugit neque exercitationem eveniet a? Alias, debitis quasi.</p>
      <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptatum est ex dolor excepturi non provident odio consequuntur omnis quos, impedit ab accusantium incidunt ea minus eos? Saepe sed nisi quo. Eaque, fuga quas? Possimus, quis ducimus. Exercitationem repellat provident quis itaque repudiandae dolore ea voluptate, assumenda animi dicta voluptas doloremque!</p>
      <p class="textrightalign"><a href="#">Read more...</a></p>
    </header>
    <div class="top-box top-box-a">
      <h4>Membership</h4>
      <p class="price">Rs. 1000/-</p>
      <a href="#">Buy now</a>
    </div>
    <div class="top-box top-box-b">
        <h4>Pro Membership</h4>
        <p class="price">Rs. 3000/-</p>
        <a href="#">Buy now</a>
    </div>
  </section>
</div>